@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 9%;
    --foreground: 0 0% 94%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 65%;

    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 94%;

    --card: 0 0% 13%;
    --card-foreground: 0 0% 94%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;

    --primary: 198 59% 57%;
    --primary-foreground: 0 0% 94%;

    --secondary: 38 97% 57%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 94%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 76% 52%;
    --destructive-foreground: 0 0% 94%;

    --ring: 0 0% 25%;
    --radius: 1rem;

    @apply scroll-pt-64 scroll-smooth bg-base-100 text-base-content;
  }

  * {
    @apply border-border;
  }
}
