@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 198 59% 57%;
    --primary-hover: 198 59% 49%;
    --primary-active: 198 59% 41%;
    --primary-foreground: 0 0% 94%;

    --secondary: 38 97% 57%;
    --secondary-hover: 38 97% 49%;
    --secondary-active: 38 97% 41%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 94%;
    --accent-foreground: 0 0% 9%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 94%;

    --layer: 0 0% 13%;
    --layer-foreground: 0 0% 94%;

    --success: 109 76% 50%;
    --success-foreground: 0 0% 94%;

    --warning: 45 76% 50%;
    --warning-foreground: 0 0% 9%;

    --error: 0 76% 52%;
    --error-foreground: 0 0% 94%;

    --background: 0 0% 9%;
    --foreground: 0 0% 94%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 0 0% 25%;
    --radius: 1.25rem;

    @apply scroll-pt-64 scroll-smooth bg-background text-foreground;
  }

  * {
    @apply border-border;
  }

  *[class*='icon-'] {
    @apply shrink-0 text-2xl;
  }
}
